/* Reset básicos */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #EEEBFF;
}

/* Cabecera */
header {
  display: flex;
  justify-content: space-between;
	padding: 1px;
  background-color: #929292;
  color: white;
}

audio {
	margin: 0;
	padding: 0;
	display: flex;
	width:185px;
  height: 25px;
	border-radius:10px;	
}

header .left {
  display: flex;
  align-items: center;
}

header .player{

}

header .right {
  display: flex;
  align-items: center;
}

button {
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

/* Botones de la cabecera */
header .left i {
  font-size: 0.8em;
}

header .right i {
  font-size: 0.8em;
}

.name-btn {
  background-color: #0553AC;
  color: white;
  transition: background-color 0.5s ease;
}

.name-btn:hover {
  background-color: #00AAFF;
}

.name-btn i {
  margin-right: 1px;
}

.contact-btn {
  background-color: #ff9800;
  color: white;
  transition: background-color 0.5s ease;
}

.contact-btn:hover {
  background-color: #FFC060;
}

.contact-btn i {
  margin-right: 1px;
}

/* Botones principales */
.main-buttons {
  display: flex;
  justify-content: center;
  /*margin-top: 50px;*/
}

.main-btn {
  margin: 1px 1px;
  background-color: #419745;
  color: white;
  transition: background-color 0.5s ease;
}

.main-btn:hover {
  background-color: #45a049;
}

.main-btn i {
  margin-right: 1px;
}

/* Efecto de resaltado al pasar el ratón */
.main-btn:hover {
  background-color: #66bb6a;
}

